*.swf
*.exe
*.zip

**/bin

flash-toy-sync-as2/src/*

flash-toy-sync-as3/obj

!flash-toy-sync-as2/src/core*
!flash-toy-sync-as2/src/Main.as
!flash-toy-sync-as2/src/VersionConfig.as

todo.txt
swf-sources.txt